<h1>Contact</h1>
<p>The new studio just opened!<br>
  <br> Address: Rejskova 2/1979, Prague 2
  <br> E-mail: PragueYogaCollective@gmail.com </p>

  <%= flash[:notice] %>

<div class="container-fluid" id="contact_form">
  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
    <div class="row">
      <div class="form-group col-sm-5 col-sm-offset-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5 col-sm-offset-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5 col-sm-offset-3">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5 col-sm-offset-3">
        <%= form.submit "Send", class: "form_label" %>
        <% end %>
      </div>
    </div>
    <br>
    <br>
</div>
