<div class="col-xs-12 col-sm-6 col-md-4">
  <%= image_tag(product.image_url, class: "img-fluid center") unless product.image_url.nil? %>
  <a href="#"><h3><strong><%= product.name %></strong></h3></a>
  <p><em><%= product.description %></em></p>
  <p><%= product.price.to_i %> Kč </p>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div><!-- /col -->
