<div class="container">
  <h3>Product Information</h3>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price.to_i %> Kč
  </p>

  <p>
    <strong>Reviews:</strong>
  <%= @product.highest_rating_comment %>
  </p>

  <%= render 'new_comment' %>
  <p>
    <strong>Average Rating:</strong>
    <div class="rated" align="center" data-score="<%= @product.average_rating %>"></div>
  </p>

  <%= render 'comments' %>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>
