<div class="container">
  <% cache @product do %>
    <h3>Product Information</h3>

    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="form-group col-sm-6">
        <p>
          <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: "@product.image_url") %>
        </p>

        <p>
          <%= @product.name %>
        </p>

        <p>
          <%= @product.description %>
        </p>

        <p>
          <%= @product.price.to_i %> Kč
        </p>
        <div id="stripe_button">
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<div class="row">
  <div class="form-group col-sm-6">
    <p>
      <strong>Average Rating:</strong>
      <div class="rated" align="center" id="average-rating" data-score="<%= @product.average_rating %>"></div>
    </p>

    <p>
      <strong>Reviews:</strong>
      <%= render 'comments' %>
    </p>

    <p>
      <%= render 'new_comment' %>
      <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </p>
  </div>
</div>

  <p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </p>
</div>
