<!DOCTYPE html>
<html>
  <head>
    <title>Prague Yoga Collective</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ghi3ami.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>

    <% if notice %>
      <p id="notice" class="alert alert-light"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-light"><%= alert %></p>
    <% end %>

    <div>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation"">

          <a class="navbar-brand" id="logo">
            <%= link_to image_tag("PYC_Swirl_White.png", class:"img-fluid logo"),simple_pages_index_path %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
              <%= link_to "Home", root_path %><span class="sr-only">(current)</span>
              <%= link_to "About", simple_pages_about_path %>
              <%= link_to "Contact", simple_pages_contact_path %>
              <%= link_to "Products", products_path %>
              <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
              <%= form.text_field :q, id: 'q', value: params[:q] %>
              <%= form.submit 'Search' %>
              <% end %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to('Login', new_user_session_path, class: "nav-link") %>
              </li>
              <% end %>
            </ul>
          </div>
      </nav>
    </div>

  <!-- nav class="navbar navbar-expand-lg  fixed-top" role="navigation" id="navbar">
    <%= image_tag("PYC_Swirl_White.png", class: "img-fluid logo") %>

    <ul>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Contact", simple_pages_contact_path %></li>
      <li><%= link_to "About", simple_pages_about_path %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>

  </nav -->





    <%= yield %>

    <footer>
      &copy; 2018 Prague Yoga Collective
    </footer>

  </body>
</html>
